@mixin media-mo {
  @media (max-width: 768px) {
    @content;
  }
}

$font-size-small: 15px;

.footer {
  background: #4ec0de;

  .container {
    padding: 128px 24px 32px 24px;
    margin: 0 auto;
    max-width: 1200px;
    @include media-mo {
      padding: 96px 32px 32px 32px;
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    font-size: $font-size-small;
    color: white;
    .links_right {
      display: flex;
      width: 70%;
      justify-content: space-between;
    }
    .link {
    }
  }
  
  .copyright {
    margin-top: 128px;
    color: #94a3b8;
    font-size: $font-size-small;
  }
}
